@media (width<800px) {
  /* Navbar3*/

  .Navbar3-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
  }

  /* Nanbar3 link*/
  .Navbar3 .link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
  }

  /* .Navbar3 .link  p*/
  .Navbar3 .link p {
    color: white;
  }

  /* home */
  .Home {
    display: block !important;
  }

  /* ////////////BodyCener//////////////  */

  /* .Categories */
  .Categories {
    width: 30% !important;
    gap: 5px;
    display: flex;
    justify-content: start;
    align-items: start;
    background-color: white;
    border-radius: 15px;
  }

  /* .Categories .containerr  */
  .containerr {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
  }

  /* ================================== */

  /* ---------footer-------- */
  /* .Footer-Ls */
  .Footer-Ls {
    width: 70% !important;
    margin: auto;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 20px 0px;
  }

  .Footer-Ls .item-img img {
    width: 50% !important;
  }

  /* ================================ */

  .Footer-Rs {
    width: 80% !important;
    display: flex;
    background-color: white;
    border-radius: 15px;
  }
  /* .Footer-Ls .item-img img */
  .Footer-Rs .item-img img {
    width: 70% !important;
  }

  /* w-800px */
  .w-800px {
    display: block !important;
  }

  /* ================================= */
  .w-100px,
  .w-550px {
    display: none !important;
  }
  
}
